body {
}
#rectangle {
  width: 340px;
  height: 160px;
  background-color:#2dbcb6;
}

table {
    width:100%;
    border:0;
}

#AASPA {
    background: #1e4485;
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    -moz-border-radius: 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 40px 40px 40px 40px;
    text-align:center;
}

.link_entrar {
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
}
.data-evento {
    font-size:35px;
    text-align:center;
    font-family:Arial;
    color: #1e4485;    
}
.dados-evento {
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    color: #1e4485;
}

.letra20 {
    font-size:20px;
}

.tap_forum:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.table-border-up {
    border-top-color:#1e4485;
    border-top-width:inherit;
}
#example {
  margin: 1em;
  width: 90%;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}